 <%= render(:partial => 'layouts/carousel') %>
<h1>Shop</h1>
    <div class="row">

	<% @products.each do |p| %>
	<div class="col-sm-3" >
		<div class ="thumbnail"> 
  			
  		
				<%=link_to(image_tag(p.image.url, :style => "height:250px;width:250px;" ),   :class => "img-circle") %> 
			
      		 

	      	
			 <div class ="cen">
				<p ><a href="/page/<%=p.id%>">Quick View</a></p>
				<p>$<%=p.sale_price%></p>
				</div>
				</div>
			</div> 
		
	
	<% end %>
	</div>
	